/* Styled to meet pictures as sometimes the instructions seemed incomplete */

.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

.flexOne {
    display: flex;
}

.flexOne .square {
    margin: 5px;
}

.flexTwo {
    display: flex;
    flex-direction: column;
}

.flexTwo .square {
    margin: 2px;
}

/* left flexThree class aligned to right since no other instructions were given;
could be aligned to left side of output page by adding a
justify-content: flex-end; */

.flexThree {
    display: flex;
    flex-direction: row-reverse;
}

.flexThree .square {
    margin: 2px;
}

/* added flex-wrap: wrap; even though not directly stated in instructions to match
picture */

.flexFour {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}

.flexFour .square {
    margin: 5px;
    background-color: #3d8b6d
}

.flexFive {
    display: flex;
    width: 350px;
}

.flexFive .item {
    width: 100px;
    height: 100px;
    margin: 2px;
    background-color: #0b6643;
}

.flexFive #grow{
    flex-grow: 2;
}

.flexSix {
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

/* Flex is used across all child elements, so just consolidated display command to
all divs */

.flexSix div {
    display: flex;
}

.flexSix .one {
    justify-content: space-around;
    margin-bottom: 50px;
}

.flexSix .two {
    justify-content: space-between;
    background-color: #d6d6d6;
    margin-bottom: 50px;
}

.flexSix .three {
    display: flex;
    justify-content: space-evenly;
}

/* added #eeeeee bg-color to container to match picture; not included in directions */

.flexSeven {
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
}

.flexSeven div {
    display: flex;
    flex-direction: column;
}

.flexSeven .one {
    justify-content: center;
}

.flexSeven .two {
    justify-content: flex-end;
    background-color: #d6d6d6;
}

.flexSeven .three {
    justify-content: flex-start;
}

.flexSeven .four {
    justify-content: space-between;
    background-color: #d6d6d6;
}

.flexEight {
    height: 400px;
    width: 300px;
    display: flex;
    background-color: #eeeeee;
}

/* all children use flex, so assigned to div... again */

.flexEight div {
    display: flex;
}

.flexEight .one {
    align-items: center;
}

.flexEight .two {
    align-items: flex-end;
}

.flexEight .three {
    align-items: flex-start;
}

.flexNine {
    display: flex;
    height: 250px;
    width: 450px;
    background-color: #eeeeee;
    align-items: flex-start;
    justify-content: space-between;
}

.flexNine #special {
    align-self: flex-end;
}